
.rightalign {
  float: right;
  text-align: end;
}

body {
  font-family: arial,sans-serif;
  font-size: small;
}

.leftalign {
  float:left;
}

background {
    background-color: #f2f2f2;
}

.center {
  margin: 0 auto;
  width: 100px;
}

.header {
    padding: 10px 10px 10px 20px;
}

.border {
  background-color: #f2f2f2;
}

div {
  width: 100%;
}

p, a {
  color: rgba(0,0,0,.54);
    padding: 5px;
}

p {
  padding: 10px 10px 10px 20px;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
}

.signin {
  background-color: #4285F4;
  color: white;
  padding: 10px;
  border: 1px solid #4285F4;
}

.searchbutton {
  background-color: #f5f5f5;
  color: #757575;
  padding: 10px;
  border: 1px solid #f5f5f5;
  font-weight: bold;
}
.searchfield {
  padding: 10px;
  width: 200px;
}
