
nav {
  background-color: #fafafa;
  border-bottom: 1px solid #ebebeb;
}

footer {
  right: 0;
  bottom: 0;
  left: 0;
}

body {
  font-family: arial,sans-serif;
  font-size: small;
  height: 100%;
  margin: 0px;
}

img {
  float: left;
  padding-top: 3px;
  height: 45px;
  padding-right: 10px;
}

table, tr, td {
  border: 1px solid #ebebeb;
  border-collapse: collapse;
  font-size: medium;
}

table {
  width: 100%;
}

td {
  padding: 5px 10px;
}

th {
  text-align: left;
  font-size: medium;
  color: #808080;
  padding: 10px;
  font-weight: normal;
}

.topsearch {
  padding-left: 10px;
  padding-top: 20px;
  width: 50%;
}

.topfunctions {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 44%;
}

.topfunctions a:active {
  font-weight: bold;
  border-bottom: 2px solid blue;
}

.topfunctions-right {
  float: right;
}

.topfunctions-left {
  padding-left: 130px;
}

.searchmenu {
  width: 35%;
  margin-left: 130px
}


.background {
  background-color: #f2f2f2;
  width: 100%;
  padding: 10px 0px 10px 0px;
}

.resulttime {
  margin-top: 5px;
}

.searchtitle {
  color: #1a0dab;
  font-size: 18px;
  padding: 0px;
  padding-left: 5px;
}

.searchURL {
  color: #006621;
  padding: 0px;
  padding-left:5px;
}

.border {
  background-color: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  padding: 10px 10px 10px 20px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

p, a {
  color: rgba(0,0,0,.54);
  padding: 5px;
}

p {
  margin: 0;
}

.searchfield {
  padding-bottom: 10px;
  padding-top: 10px;
  width: 70%;
  border: 2px solid #e4e4e4;
  border-radius: 1px;
  position: relative;
}
